<template>
    <div class="content">
      <div class="content">
            <div class="container-fluid">
                <h3>Pedidos</h3>
                <br>
                <!-- pedidos seccion -->
                 <div class="row">
                  <div class="col-md-4" v-for="item in list">
                    <div class="card card-product">
                      <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                          <img  class="img" :src="'./img/productos/dia.jpeg'" >
                        </a>
                      </div>
                      <div class="card-body">
                        <div class="card-actions text-center">
                          <button type="button" class="btn btn-danger btn-link fix-broken-card">
                            <i class="material-icons">build</i> reportar!
                          </button>
                          <button type="button" @click ="deleteProducto(item.id)" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Quitar">
                            <i class="material-icons">close</i>
                          </button>
                        </div>
                        <h6 class="card-title">
                          <label>{{ item.producto.nombre }}</label>
                        </h6>
                        <div class="card-description">
                          {{ item.producto.nombre }} 
                        </div>
                        <!-- informacion marcas -->
                        <h6 class="card-title">
                          {{ item.producto.marcas.nombre }}
                        </h6>
                        <!-- informacion peliculas -->
                        <h6 class="card-title">
                          Película:
                          {{ item.producto.peliculas.marca }}
                          {{ item.producto.peliculas.iso }}
                          {{ item.producto.peliculas.formato }}
                          </h6>


                            <el-button type="text" v-text="keepTime" @click="StartCountDown"></el-button>
                          <!-- <input type="text" name="" v-text="keepTime"  @click="StartCountDown" > -->

                        <!-- end marcas  -->
                      </div>
                      <div class="card-footer">
                        <div class="price">
                          <h4>{{ item.producto.valor }}</h4>
                        </div>
                        <div class="stats">
                          <p class="card-category"><i class="material-icons">history_toggle_off</i>{{ item.estado.nombre }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>    
                <!-- end Pedidos -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
       props: ['list'],
        data() {
            return {
                          keepTime: 'Cuenta regresiva',
            limittime:100,
            settime: '',
            flag: false
            }
        },
        methods:{
            deleteProducto(key){
              axios.delete('/catalogo/'+ key)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Producto Eliminado</b>"
                        }, {
                            type: 'success',
                            timer: 4000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        setTimeout(function(){
                            window.location.reload(1);
                        }, 3000);
                        this.clear();
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo eliminar el producto </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                }).catch(err =>{
                    console.log(err);
                }); 
            },
                    StartCountDown() {
            var mydate = new Date();
            mydate.setMinutes(mydate.getMinutes() + this.limittime);
            this.settime=mydate;
 
            let time = setInterval(() => {
                if (this.flag == true) {
                    clearInterval(time)
                }
                this.timeDown()
            }, 100)
        },
        timeDown() {
            const endTime = new Date(this.settime);
            const nowTime = new Date();
            let leftTime = parseInt((endTime.getTime() - nowTime.getTime()) / 1000);
            let d = parseInt(leftTime / (24 * 60 * 60));
            let h = this.formate(parseInt(leftTime / (60 * 60) % 24));
            let m = this.formate(parseInt(leftTime / 60 % 60));
            let s = this.formate(parseInt(leftTime % 60));
            if (leftTime <= 0) {
                this.flag = true;
                                 alerta ("Se acabó el tiempo, deja de responder");
            }
            this.keepTime = `${h}:${m}:${s}`;
        },
        formate(time) {
            if (time >= 10) {
                return time
            } else {
                return `0${time}`
            }
        },
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>