<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Usuarios</h4>
            </div>
            <div class="card-body">
              <div class="toolbar">
              </div>
              <div class="material-datatables">
                <table id="datatables"  class="table table-striped table-no-bordered table-hover " cellspacing="0" width="100%" style="width:100%">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Rol</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Rol</th>
                      <th>Acciones </th>
                    </tr>
                  </tfoot>
                  <tbody v-for="user in users">
                    <tr  v-for="item in user.roles">
                      <td>{{ user.name }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ item.name }}</td>
                      <td>
                        <!-- update button -->
                        <button title="editar" class="btn btn-link btn-info btn-just-icon like" @click ="Open(user)"><i class="material-icons">edit</i></button>
                        <!-- delete button -->
                         <button title="eliminar" class="btn btn-link btn-danger btn-just-icon remove" 
                         @click ="deleteUser(user.id)"><i class="material-icons">close</i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- modal  -->
        <div class="col-md-12">
          <div class="modal fade" id="modalUpdate" tabindex="-1" role="">
              <div class="modal-dialog modal-login" role="document">
                  <div class="modal-content">
                      <div class="card card-signup card-plain">
                        <form novalidate @submit.prevent="validateBeforeSubmit" >
                          <div class="modal-header">
                              <div class="card-header card-header-rose text-center">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                                  <h4 class="card-title">Datos de Usuario</h4>
                              </div>
                          </div>
                          <div class="modal-body">
                            <p class="description text-center">Informacion de Usuario</p>
                              <div class="card-body">
                                  <!-- UserName Update -->
                                  <div class="form-group bmd-form-group">
                                     <div class="input-group">
                                          <label> Nombre Usuario.</label>
                                      </div>
                                      <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">face</i>
                                          </span>
                                        </div>
                                        <input type="text" name="userName" v-model="data.userName" class="form-control" placeholder="Nombre ..">
                                      </div>
                                  </div>
                                  <!-- email update -->
                                  <div class="form-group bmd-form-group">
                                     <div class="input-group">
                                          <label>Correo.</label>
                                      </div>
                                      <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">email</i>
                                          </span>
                                        </div>
                                        <input type="text" name="email" v-model="data.email" class="form-control" placeholder="Email...">
                                      </div>
                                  </div>
                                  <!-- roles -->
                                  <div class="form-group bmd-form-group">
                                     <div class="input-group">
                                          <label>Rol.</label>
                                      </div>
                                      <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">record_voice_over</i>
                                          </span>
                                        </div>
                                          <multiselect v-model="value" id="roles"  :options="options"  placeholder="Seleccione ..." track-by="name" label="name" data-style="btn btn-primary btn-round">
                                            <span slot="noResult">Oops! rol no encontrado</span>
                                          </multiselect>
                                        
                                      </div>
                                  </div>
                                  <!-- Password  update-->
                                  <div class="form-group bmd-form-group">
                                      <div class="input-group">
                                          <label> Contraseña.</label>
                                      </div>
                                      <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">lock_outline</i>
                                          </span>
                                        </div>
                                        <input type="password" name="password" v-model="data.password" placeholder="Password..." class="form-control">
                                      </div>
                                  </div>
                                  <!-- confirm password -->
                                  <div class="form-group bmd-form-group">
                                      <div class="input-group">
                                          <label>Confirmar Contraseña.</label>
                                      </div>
                                      <div class="input-group">
                                       <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">lock_outline</i>
                                          </span>
                                        </div>
                                        <input type="password" name="password" v-model="data.password_confirmation" placeholder="Password..." class="form-control">
                                      </div>
                                  </div>
                                  <!-- end confirm  -->
                              </div>
                          </div>
                          <div class="modal-footer justify-content-center">
                              <div class="row">
                                 <div class="col-md-6">
                                   <button type="submit" class="btn btn-rose btn-link btn-wd btn-lg"> Actualizar </button>
                                 </div>
                                 <div class="col-md-6">
                                   <button class="btn btn-rose btn-link btn-wd btn-lg" data-dismiss="modal" aria-hidden="true">cerrar</button>
                                 </div>     
                              </div>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- end modal  -->
      </div>
    </div>
  </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Multiselect from 'vue-multiselect'
    export default {
      components: {
          Multiselect
        },
        props: ["users",'role'],
        data() {
            return {
              data: { userName: '', email: '', password:'' , password_confirmation:'' , id: ''},
              options: this.role,
              value: ''
            }
        },
        methods:{
            Open(item){
              $('#modalUpdate').modal('show')
              this.data.userName = item['name']
              this.data.email = item['email']
              this.value = item['roles']  
              this.data.id = item['id']
            },
            validateBeforeSubmit() {
                if(this.data.userName === '' || this.data.email === '' || this.value === '' ) {
                    $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>Completar todos los campos antes de guardar</b>"
                    }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                      }
                  });
                }else{
                  if (this.data.password)  {
                    if (this.data.password === this.data.password_confirmation) {
                        this.update();
                    }else{
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>las Contraseña no coinciden</b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                  }else{
                    this.update();
                  }
                }
            },
            update(){
              var updateUser = {
                    userName: this.data.userName,
                    password: this.data.password,
                    email: this.data.email,
                    role: this.value,
                    id : this.data.id
              }  
              axios.put('/usuarios/'+this.data.id, updateUser)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Usuario actualizado</b>"
                        }, {
                            type: 'success',
                            timer: 2000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        $('#modalUpdate').modal('hide')
                        setTimeout(function(){
                            window.location.reload(1);
                        }, 3000);
                        this.clear();
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo actualizar el usuario </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }else if (response.data == 1) {
                       $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> Usuario no encontrado </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                }).catch(err =>{
                    console.log(err);
                });
            },
            deleteUser(key){
              var data = { id : key }
              axios.delete('/usuarios/'+ key, data)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Usuario Eliminado</b>"
                        }, {
                            type: 'success',
                            timer: 4000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        setTimeout(function(){
                            window.location.reload(1);
                        }, 3000);
                        this.clear();
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo eliminar el usuario </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                }).catch(err =>{
                    console.log(err);
                }); 

            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
