<template>
     <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <form id="RangeValidation" class="form-horizontal" novalidate @submit.prevent="validateBeforeSubmit">
                <div class="card ">
                  <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">
                      <h4 class="card-title">Sesiones</h4>
                    </div>
                  </div>
                  <div class="card-body ">
                    <input type="hidden" name="_token" :value="csrf">
                    <!--  informacion de  session  -->
                    <div class="row">
                      <label class="col-sm-2 col-form-label"><h3>Hola !!</h3></label>
                      <div class="col-sm-7">
                        <p>
                            <span><b>{{ userName }}</b></span><br>
                            <b>FAT WEB </b>Te Informa que no has validado tu inicio de sessión <br>
                            Te invitamos a que lo hagas dando click en el boton Validar.
                        </p>
                      </div>
                    </div>
                    <!--  informacion -->
                  </div>
                  <div class="card-footer ml-auto mr-auto">
                    <button type="submit" class="btn btn-rose">Validar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
  </div>
</template>
<script>
    let user = document.head.querySelector('meta[name="user"]');
    let token  = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    export default {
        data() {
            return {  
              userName : JSON.parse(user.content).name,
              InfUser : JSON.parse(user.content),
              csrf: this.token
            }
        },
        methods:{
            validateBeforeSubmit() {
                this.validar();
            },
            validar() { 
                axios.get('/validar/session')
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Validación Correcta</b>"
                        }, {
                            type: 'success',
                            timer: 2000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        setTimeout(function(){
                           window.location.href = "/home";
                        }, 3000);
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo realizar la validación </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                });
            },
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>












