<template>
   <div class="content">
      <div class="content">
        <div class="container-fluid">
          <div class="col-md-8 col-12 mr-auto ml-auto">
            <!--   container  -->
            <div class="wizard-container">
              <div class="card card-wizard" data-color="rose" id="wizardProfile">
                <form novalidate @submit.prevent="validateBeforeSubmit" >
                  <div class="card-header text-center">
                    <h3 class="card-title">
                      Registro Usuarios
                    </h3>
                    <h5 class="card-description">Datos Basicos.</h5>
                  </div>
                  <div class="wizard-navigation">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                          Paso 1.
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                          Paso 2.
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="about">
                        <h5 class="info-text"> ....... </h5>
                        <div class="row justify-content-center">
                          <div class="col-sm-4">
                            <div class="picture-container">
                              <div class="picture">
                                <img :src="'./img/logos/user.png'" class="picture-src" id="wizardPicturePreview" title="" />
                                <input type="file" id="wizard-picture">
                              </div>
                              <h6 class="description">Seleccionar Imangen .....</h6>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">face</i>
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="exampleInput1" class="bmd-label-floating">Nombre </label>
                                <input type="text" class="form-control" id="exampleInput1" name="userName" required
                                v-model="data.userName">
                              </div>
                            </div>
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">record_voice_over</i>
                                </span>
                              </div>
                              <!-- rol -->
                              <div class="form-group">
                                  <label for="roles" class="bmd-label-floating">Rol </label>
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <multiselect v-model="value" id="roles"  :options="options"  placeholder="Seleccione ..." track-by="name" label="name" data-style="btn btn-primary btn-round">
                                        <span slot="noResult">Oops! rol no encontrado</span>
                                      </multiselect>
                                    </div>
                                  </div>
                              </div>
                              <!-- end rol -->
                            </div>
                          </div>
                          <div class="col-lg-10 mt-3">
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">email</i>
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="exampleInput1" class="bmd-label-floating">Correo</label>
                                <input type="email" class="form-control" id="exampleemalil" name="email" required 
                                v-model="data.email">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="address">
                        <div class="row justify-content-center">
                          <div class="col-sm-12">
                            <h5 class="info-text"> Credenciales de Acceso </h5>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Contraseña</label>
                              <input id="password" type="password" class="form-control" name="password" required autocomplete="new-password" v-model="data.password">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Confirmar Contraseña.</label>
                              <input id="password-confirm" type="password" class="form-control" name="password_confirmation" v-model="data.password_confirmation" required autocomplete="new-password">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="mr-auto">
                      <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Atras">
                    </div>
                    <div class="ml-auto">
                      <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Siguiente">
                      <input type="submit" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Enviar" style="display: none;">
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </form>
              </div>
            </div>
            <!-- container -->
          </div>
        </div>
      </div>
   </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
    import Multiselect from 'vue-multiselect'
    export default {
        components: {
          Multiselect
        },
        props: ["role"],
        data() {
            return {  
              options: this.role,
              data: { userName: '', email: '', password:'' , password_confirmation:''},
              value: ''
            }
        },
        methods:{
            validateBeforeSubmit() {
                if(this.data.userName === '' || this.data.email === '' ||
                   this.data.password === '' ||  this.data.password_confirmation === '' || this.value === '' ) {
                    $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>Completar todos los campos antes de guardar</b>"
                    }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                      }
                  });
                }else{
                  if (this.data.password === this.data.password_confirmation)  {
                      this.create();
                  }else{
                    $.notify({
                      icon: "add_alert",
                      message: "Error ! <b>las Contraseña no coinciden</b>"
                    }, {
                      type: 'danger',
                      timer: 4000,
                      placement: {
                        from: 'top',
                        align: 'right'
                      }
                    });
                  }
                }
            },
            create() {
                var newUser = {
                    userName: this.data.userName,
                    password: this.data.password,
                    email: this.data.email,
                    role: this.value
                }  
                axios.post('/usuarios', newUser)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Usuario creado correctamente</b>"
                        }, {
                            type: 'success',
                            timer: 4000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        this.clear();
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo guardar el usuario </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }else if (response.data == 1) {
                       $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> El usuario ya se encontrado registrado </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                });
            },
            clear () {
              this.data.userName = ''
              this.data.email = ''
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>