<template>
     <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <form id="RangeValidation" class="form-horizontal" novalidate @submit.prevent="validateBeforeSubmit">
                <div class="card ">
                  <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">
                      <h4 class="card-title">Permisos</h4>
                    </div>
                  </div>
                  <div class="card-body ">
                    <!-- name rol -->
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Nombre</label>
                      <div class="col-sm-7">
                        <div class="form-group">
                          <input class="form-control" type="text" name="name" minLength="20" required="true"
                           v-model="data.name" />
                        </div>
                      </div>
                    </div>
                    <!-- descripcion rol -->
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Descripción</label>
                      <div class="col-sm-7">
                        <div class="form-group">
                          <input class="form-control" type="text" name="description" maxLength="250" required="true"
                          v-model="data.description" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer ml-auto mr-auto">
                    <button type="submit" class="btn btn-rose">Guardar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
  </div>
</template>

<script>
    export default {
        data() {
            return {  
              data: [],
              data: { name: '', description: ''}
            }
        },
        methods:{
            validateBeforeSubmit() {
                if(this.data.nombre === '' || this.data.description === ''){
                    $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>Debes completar todos los campos antes de guardar</b>"
                    }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                      }
                  });
                }else{
                   this.create();
                }
            },
            create() {
                const newPermiso = this.data;
                axios.post('/permisos', newPermiso)
                    .then((response) =>{
                      console.log(response)
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Permiso creado correctamente</b>"
                        }, {
                            type: 'success',
                            timer: 4000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo guardar el permiso </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }else if (response.data == 1) {
                       $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> El permiso ya se encontrado registrado </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                });
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>