<template>
    <div class="content">
      <div class="content">
            <div class="container-fluid">
                <h3>Catalogo de Productos</h3>
                <br>
                <!-- pedidos seccion -->
                 <div class="row">
                  <div class="col-md-4" v-for="item in productos">
                    <div class="card card-product">
                      <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                          <img  class="img" :src="'./img/productos/dia.jpeg'" >
                        </a>
                      </div>
                      <div class="card-body">
                        <div class="card-actions text-center">
                          <button type="button" class="btn btn-danger btn-link fix-broken-card">
                            <i class="material-icons">build</i> reportar!
                          </button>
                          <button type="button"  v-model="data.producto" @click ="validateBeforeSubmit(item)" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Agregar al carrito">
                            <i class="material-icons">add_shopping_cart</i>
                          </button>
                          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Quitar">
                            <i class="material-icons">close</i>
                          </button>
                        </div>
                        <h6 class="card-title">
                          <label>{{ item.nombre }}</label>
                        </h6>
                        <div class="card-description">
                          {{ item.description }} 
                        </div>
                        <!-- informacion marcas -->
                        <h6 class="card-title">
                          {{ item.marcas.nombre }}
                        </h6>
                        <!-- informacion peliculas -->
                        <h6 class="card-title">
                          Película:
                          {{ item.peliculas.marca }}
                          {{ item.peliculas.iso }}
                          {{ item.peliculas.formato }}
                        </h6>
                        <!-- end marcas  -->
                      </div>
                      <div class="card-footer">
                        <div class="price">
                          <h4>{{ item.valor }}</h4>
                        </div>
                        <div class="stats">
                          <p class="card-category"><i class="material-icons">history_toggle_off</i>{{ item.estados.nombre }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>    
                <!-- end Pedidos -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
       props: ["productos"],
        data() {
            return {
               data: { producto : '', id : ''} 
            }
        },
        methods:{
          validateBeforeSubmit(item) {
                 this.data.producto = item
                 this.data.id = item.id

                if(this.data.producto === '' || this.data.id === ''  ) {
                    $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>Selecione un producto  antes de guardar</b>"
                    }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                      }
                  });
                }else{
                      this.create();
                }
            },
            create() { 
                axios.post('/catalogo', this.data)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Producto Agregado correctamente</b>"
                        }, {
                            type: 'success',
                            timer: 2000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        setTimeout(function(){
                            window.location.href = "/pedidos";
                        }, 3000);
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo guardar el producto </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }else if (response.data == 1) {
                       $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> ya tiene un producto en Alquiler</b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                });
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>