<template>
  <div class="content">
    <div class="container-fluid">
      <button class="btn btn-round" data-toggle="modal" data-target="#ProdcutoModal">
        Nuevo Producto <i class="material-icons">assignment</i>
      </button>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Productos</h4>
            </div>
            <div class="card-body">
              <div class="toolbar">
              </div>
              <div class="material-datatables">
                <table class="table table-striped table-no-bordered table-hover datatables" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Descripción</th>
                      <th>Soporte</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nombre</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Descripción</th>
                      <th>Soporte</th>
                      <th>Acciones</th>
                    </tr>
                  </tfoot>
                  <tbody v-for="producto in productos">
                    <tr>
                      <td>{{ producto.nombre }}</td>
                      <td>{{ producto.marcas.nombre }}</td>
                      <td>{{ producto.modelo }}</td>
                      <td>{{ producto.description }}</td>
                      <td>{{ producto.soporte }}</td>
                      <td>
                        <!-- update button -->
                        <button title="editar" class="btn btn-link btn-info btn-just-icon like" @click ="Open(producto)"><i class="material-icons">edit</i></button>
                        <!-- delete button -->
                         <button title="eliminar" class="btn btn-link btn-danger btn-just-icon remove" 
                         @click ="deleteClient(producto.id)"><i class="material-icons">close</i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- modal  -->
       <div class="col-md-12">
          <div class="modal fade" id="ProductoModalUpdate" tabindex="-1" role="">
              <div class="modal-dialog modal-login" role="document">
                  <div class="modal-content">
                      <div class="card card-signup card-plain">
                        <form novalidate @submit.prevent="validateBeforeSubmit" >
                          <div class="modal-header">
                              <div class="card-header card-header-rose text-center">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                                  <h4 class="card-title">Editar Producto</h4>
                              </div>
                          </div>
                          <div class="modal-body">
                            <p class="description text-center">Informacion Producto</p>
                              <div class="card-body">
                                  <!-- name client -->
                                  <div class="form-group bmd-form-group">
                                     <div class="input-group">
                                          <label>Nombre</label>
                                      </div>
                                      <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">description</i>
                                          </span>
                                        </div>
                                        <input type="text" name="name" v-model="data.nombre" class="form-control" placeholder="Nombre ..">
                                      </div>
                                  </div>
                                  <!-- marca -->
                                  <div class="form-group">
                                    <label for="marca" class="bmd-label-floating">Marca</label>
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <multiselect v-model="data.marca" id="marcas"  :options="options"  placeholder="Seleccione ..." track-by="nombre" label="nombre" data-style="btn btn-primary btn-round">
                                          <span slot="noResult">Oops! rol no encontrado</span>
                                        </multiselect>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- modelo  -->
                                  <div class="form-group bmd-form-group">
                                     <div class="input-group">
                                          <label>Modelo</label>
                                      </div>
                                      <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">party_mode</i>
                                          </span>
                                        </div>
                                        <input type="text" name="email" v-model="data.modelo" class="form-control" placeholder="Modelo...">
                                      </div>
                                  </div>
                                 <!-- descripción -->
                                 <div class="form-group bmd-form-group">
                                   <div class="input-group">
                                      <label>Descripción.</label>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">speaker_notes</i>
                                          </span>
                                        </div>
                                        <textarea rows="3" name="email" v-model="data.description" class="form-control" placeholder="Descripción..."></textarea>
                                        <!-- <input type="text" > -->
                                    </div>
                                </div>
                               <!-- soporte -->
                               <div class="form-group bmd-form-group">
                                  <div class="input-group">
                                    <label>Soporte Flash.</label>
                                  </div>
                                  <div class="text-center">
                                    <div class="row">
                                      <div class="col-sm-10 checkbox-radios">
                                        <div class="form-check form-check-inline">
                                          <label class="form-check-label">
                                            <input class="form-check-input" type="radio" value="Si"
                                             v-model="data.soporte" name="soporte"> Si
                                            <span class="circle">
                                              <span class="check"></span>
                                            </span>
                                          </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <label class="form-check-label">
                                            <input class="form-check-input" type="radio" value="No" 
                                             v-model="data.soporte" name="soporte"> No
                                            <span class="circle">
                                              <span class="check"></span>
                                            </span>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- end soporte -->
                              </div>
                          </div>
                          <div class="modal-footer justify-content-center">
                              <div class="row">
                                 <div class="col-md-6">
                                   <button type="submit" class="btn btn-rose btn-link btn-wd btn-lg"> Guardar </button>
                                 </div>
                                 <div class="col-md-6">
                                   <button class="btn btn-rose btn-link btn-wd btn-lg" data-dismiss="modal" aria-hidden="true">cerrar</button>
                                 </div>     
                              </div>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <!-- end modal  -->
      </div>
    </div>
  </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Multiselect from 'vue-multiselect'
    export default {
      components: {
          Multiselect
        },
        props: ['marcas','productos'],
        data() {
            return {
               data: { nombre: '', marca: '', description:'' , soporte:'', id : ''} , 
               options: this.marcas,
               value: '' 
            }
        },
        methods:{
            Open(item){
              $('#ProductoModalUpdate').modal('show')
              this.data.nombre = item.nombre
              this.data.marca = item.marcas
              this.data.modelo = item.modelo  
              this.data.description = item.description  
              this.data.soporte = item.soporte  
              this.data.id = item.id
            },
            validateBeforeSubmit() {
                if(this.data.nombre === '' || this.data.marca === '' || 
                   this.data.modelo === '' ||  this.data.description === '' ||
                   this.data.soporte === '' ) {
                    $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>Completar todos los campos antes de guardar</b>"
                    }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                      }
                  });
                }else{
                  this.update();
                }
            },
            update(){ 
              axios.put('/productos/'+this.data.id, this.data)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Producto actualizado</b>"
                        }, {
                            type: 'success',
                            timer: 2000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        $('#clienteModalUpdate').modal('hide')
                        setTimeout(function(){
                            window.location.reload(1);
                        }, 3000);
                        this.clear();
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo actualizar el producto </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }else if (response.data == 1) {
                       $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> Producto no encontrado </b>"
                      }, {
                        type: 'danger',
                        timer: 2000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                }).catch(err =>{
                    console.log(err);
                });
            },
            deleteClient(key){
              var data = { id : key }
              axios.delete('/productos/'+ key, data)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Producto Eliminado</b>"
                        }, {
                            type: 'success',
                            timer: 2000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        $('#modalUpdate').modal('hide')
                         setTimeout(function(){
                            window.location.reload(1);
                        }, 3000);
                        this.clear();
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo eliminar el producto </b>"
                      }, {
                        type: 'danger',
                        timer: 2000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                    setTimeout(function(){
                      window.location.reload(1);
                    }, 3000);
                }).catch(err =>{
                    console.log(err);
                }); 
            },
            clients(){
              axios.get('/clientes/list')
                .then((response) =>{
                  if (response.data.status == 200) {
                      this.list = response.data.clients;
                  }
                }).catch(err =>{
                    console.log(err);
                }); 
            }
        },
        mounted() {
            this.clients();
            console.log('Component cargado correctamente 11.')
        }
    }
</script>
