<template>
<div class="col-md-12">
  <div class="modal fade" id="ProdcutoModal" tabindex="-1" role="">
      <div class="modal-dialog modal-login" role="document">
          <div class="modal-content">
              <div class="card card-signup card-plain">
                <form novalidate @submit.prevent="validateBeforeSubmit" >
                  <div class="modal-header">
                      <div class="card-header card-header-rose text-center">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                          <h4 class="card-title">Nuevo Producto</h4>
                      </div>
                  </div>
                  <div class="modal-body">
                    <p class="description text-center">Informacion Producto</p>
                      <div class="card-body">
                          <!-- name client -->
                          <div class="form-group bmd-form-group">
                             <div class="input-group">
                                  <label>Nombre</label>
                              </div>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">description</i>
                                  </span>
                                </div>
                                <input type="text" name="name" v-model="data.nombre" class="form-control" placeholder="Nombre ..">
                              </div>
                          </div>
                          <!-- marca -->
                          <div class="form-group">
                            <label for="marca" class="bmd-label-floating">Marca</label>
                            <div class="col-md-12">
                              <div class="form-group">
                                <multiselect v-model="data.marca" id="marca"  :options="options"  placeholder="Seleccione ..." track-by="nombre" label="nombre" data-style="btn btn-primary btn-round">
                                  <span slot="noResult">Oops! rol no encontrado</span>
                                </multiselect>
                              </div>
                            </div>
                          </div>
                          <!-- estados -->
                          <div class="form-group">
                            <label for="pelicula" class="bmd-label-floating">Películas</label>
                            <div class="col-md-12">
                              <div class="form-group">
                                <multiselect v-model="data.pelicula" id="pelicula"  :options="optionsPeliculas" :custom-label="labelPeliculas"  placeholder="Seleccione ..." track-by="marca" label="marca" data-style="btn btn-primary btn-round">
                                  <span slot="noResult">Oops! rol no encontrado</span>
                                </multiselect>
                              </div>
                            </div>
                          </div>
                          <!-- peliculas -->
                          <div class="form-group">
                            <label for="estado" class="bmd-label-floating">Estado</label>
                            <div class="col-md-12">
                              <div class="form-group">
                                <multiselect v-model="data.estado" id="estado"  :options="optionState"  placeholder="Seleccione ..." track-by="nombre" label="nombre" data-style="btn btn-primary btn-round">
                                  <span slot="noResult">Oops! rol no encontrado</span>
                                </multiselect>
                              </div>
                            </div>
                          </div>
                          <!-- modelo  -->
                          <div class="form-group bmd-form-group">
                             <div class="input-group">
                                  <label>Modelo</label>
                              </div>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">party_mode</i>
                                  </span>
                                </div>
                                <input type="text" name="text" v-model="data.modelo" class="form-control" placeholder="Modelo...">
                              </div>
                          </div>
                         <!-- descripción -->
                         <div class="form-group bmd-form-group">
                           <div class="input-group">
                              <label>Descripción.</label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">speaker_notes</i>
                                  </span>
                                </div>
                                <textarea rows="3" name="text" v-model="data.description" class="form-control" placeholder="Descripción..."></textarea>
                                <!-- <input type="text" > -->
                            </div>
                        </div>
                       <!-- soporte -->
                       <div class="form-group bmd-form-group">
                          <div class="input-group">
                            <label>Soporte Flash.</label>
                          </div>
                          <div class="text-center">
                            <div class="row">
                              <div class="col-sm-10 checkbox-radios">
                                <div class="form-check form-check-inline">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" value="Si"
                                     v-model="data.soporte" name="soporte"> Si
                                    <span class="circle">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" value="No" 
                                     v-model="data.soporte" name="soporte"> No
                                    <span class="circle">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- modelo  -->
                        <div class="form-group bmd-form-group">
                           <div class="input-group">
                                <label>Valor</label>
                            </div>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">attach_money</i>
                                </span>
                              </div>
                              <input type="text" name="text" v-model="data.valor" class="form-control" placeholder="Valor...">
                            </div>
                        </div>
                        <!-- end soporte -->
                      </div>
                  </div>
                  <div class="modal-footer justify-content-center">
                      <div class="row">
                         <div class="col-md-6">
                           <button type="submit" class="btn btn-rose btn-link btn-wd btn-lg"> Guardar </button>
                         </div>
                         <div class="col-md-6">
                           <button class="btn btn-rose btn-link btn-wd btn-lg" data-dismiss="modal" aria-hidden="true">cerrar</button>
                         </div>     
                      </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>
</div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
    import Multiselect from 'vue-multiselect'
    export default {
        components: {
          Multiselect
        },
        props: ['marcas','estados','peliculas'],
        data() {
            return {  
              options: this.marcas,
              optionsPeliculas : this.peliculas,
              optionState : this.estados,
              data: { nombre:  '', marca :    '', modelo:  '', description:'',
                      soporte: '', pelicula : '', estado : '', valor: ''
                    }
            }
        },
        methods:{
            labelPeliculas({ marca, formato, iso }) {
              return `${marca}—${iso}—${formato}`;
            },
            validateBeforeSubmit() {
                if(this.data.nombre === '' || this.data.modelo === '' ||
                   this.data.description === '' || this.data.marcas === '' ||
                   this.data.soporte === '' || this.data.pelicula === '' ||
                  this.data.estado === '' || this.data.valor === '' ) {
                    $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>Completar todos los campos antes de guardar</b>"
                    }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                      }
                  });
                }else{
                      this.create();
                }
            },
            create() { 
                axios.post('/productos',this.data)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Producto creado correctamente</b>"
                        }, {
                            type: 'success',
                            timer: 2000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        this.clear();
                        $('#ProdcutoModal').modal('hide');
                        setTimeout(function(){
                            window.location.reload(1);
                        }, 3000);
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo guardar el producto </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }else if (response.data == 1) {
                       $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>El producto ya se encontrado registrado</b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                });
            },
            clear () {
                this.data.name = '';
                this.data.email = '';
                this.data.address = '';
                this.data.document = '';
            }
        },
        mounted() {
            console.log('Component cargado correctamente.')
        }
    }
</script>
