<template>
     <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <form id="RangeValidation" class="form-horizontal" novalidate @submit.prevent="validateBeforeSubmit">
                <div class="card ">
                  <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">
                      <h4 class="card-title">Roles</h4>
                    </div>
                  </div>
                  <div class="card-body ">
                    <!-- name rol -->
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Nombre</label>
                      <div class="col-sm-7">
                        <div class="form-group">
                          <input class="form-control" type="text" name="nombre" minLength="20" required="true"
                           v-model="data.name" />
                        </div>
                      </div>
                    </div>
                    <!-- end name -->
                    <!-- descripcion rol -->
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Descripción</label>
                      <div class="col-sm-7">
                        <div class="form-group">
                          <input class="form-control" type="text" name="data.descripcion" maxLength="20" required="true"
                          v-model="data.descripcion" />
                        </div>
                      </div>
                    </div>
                    <!-- end descripcion -->
                    <!-- permissions -->
                     <div class="row">
                      <label class="col-sm-2 col-form-label">Permisos</label>
                      <div class="col-sm-7">
                        <div class="form-group">
                          <multiselect v-model="value" :options="options" :multiple="true" placeholder="Seleccione ..." track-by="name" label="name"  class ="selectpicker" data-style="btn btn-primary btn-round">
                            <span slot="noResult">Oops! Permiso no encontrado</span>
                          </multiselect>
                        </div>
                      </div>
                    </div>
                    <!-- end permissions -->
                  </div>
                  <div class="card-footer ml-auto mr-auto">
                    <button type="submit" class="btn btn-rose">Validate Inputs</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
  </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
    import Multiselect from 'vue-multiselect'

    export default {
        components: {
          Multiselect
        },
        props: ["permission"],
        data() {
            return {  
              options: this.permission,
              data: { name: '', descripcion: ''},
              value: []
            }
        },
        methods:{
            validateBeforeSubmit() {
                if(this.data.nombre === '' || this.data.descripcion === ''){
                    $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>Debes completar todos los campos antes de guardar</b>"
                    }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                      }
                  });
                }else{
                   this.create();
                }
            },
            create() {
                var newRol = {
                    name: this.data.name,
                    descripcion: this.data.descripcion,
                    permission: this.value
                }  
                axios.post('/roles', newRol)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Rol creado correctamente</b>"
                        }, {
                            type: 'success',
                            timer: 4000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo guardar el rol </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }else if (response.data == 1) {
                       $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> El rol ya se encontrado registrado </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                });
            },
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>