<template>
<div class="col-md-12">
  <div class="modal fade" id="ClienteModal" tabindex="-1" role="">
      <div class="modal-dialog modal-login" role="document">
          <div class="modal-content">
              <div class="card card-signup card-plain">
                <form novalidate @submit.prevent="validateBeforeSubmit" >
                  <div class="modal-header">
                      <div class="card-header card-header-rose text-center">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                          <h4 class="card-title">Datos de Cliente</h4>
                      </div>
                  </div>
                  <div class="modal-body">
                    <p class="description text-center">Informacion cliente</p>
                      <div class="card-body">
                          <!-- name client -->
                          <div class="form-group bmd-form-group">
                             <div class="input-group">
                                  <label> Nombre </label>
                              </div>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">face</i>
                                  </span>
                                </div>
                                <input type="text" name="name" v-model="data.name" class="form-control" placeholder="Nombre ..">
                              </div>
                          </div>
                          <!-- document -->
                          <div class="form-group bmd-form-group">
                             <div class="input-group">
                                  <label> Documento </label>
                              </div>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">assignment_ind</i>
                                  </span>
                                </div>
                                <input type="number" name="name" v-model.number="data.document"  class="form-control" placeholder="Documento ..">
                              </div>
                          </div>
                          <!-- email  -->
                          <div class="form-group bmd-form-group">
                             <div class="input-group">
                                  <label>Correo.</label>
                              </div>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">email</i>
                                  </span>
                                </div>
                                <input type="text" name="email" v-model="data.email" class="form-control" placeholder="Correo...">
                              </div>
                          </div>
                         <!-- address -->
                         <div class="form-group bmd-form-group">
                           <div class="input-group">
                              <label>Dirección.</label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">location_on</i>
                                  </span>
                                </div>
                                <input type="text" name="email" v-model="data.address" class="form-control" placeholder="Dirección...">
                            </div>
                        </div>
                       <!-- end address -->
                      </div>
                  </div>
                  <div class="modal-footer justify-content-center">
                      <div class="row">
                         <div class="col-md-6">
                           <button type="submit" class="btn btn-rose btn-link btn-wd btn-lg"> Guardar </button>
                         </div>
                         <div class="col-md-6">
                           <button class="btn btn-rose btn-link btn-wd btn-lg" data-dismiss="modal" aria-hidden="true">cerrar</button>
                         </div>     
                      </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>
</div>
</template>
<script>
   export default {
        data() {
            return {  
              data: { name: '', email: '', document:'' , address:''}
            }
        },
        methods:{
            validateBeforeSubmit() {
                if(this.data.name === '' || this.data.email === '' ||
                   this.data.document === '' ||  this.data.address === '' ) {
                    $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>Completar todos los campos antes de guardar</b>"
                    }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                      }
                  });
                }else{
                      this.create();
                }
            },
            create() { 
                axios.post('/clientes', this.data)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Cliente creado correctamente</b>"
                        }, {
                            type: 'success',
                            timer: 2000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        this.clear();
                        $('#ClienteModal').modal('hide');
                        setTimeout(function(){
                            window.location.reload(1);
                        }, 3000);
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo guardar el Cliente </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }else if (response.data == 1) {
                       $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>El Cliente ya se encontrado registrado</b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                });
            },
            clear () {
                this.data.name = '';
                this.data.email = '';
                this.data.address = '';
                this.data.document = '';
            }
        },
        mounted() {
            console.log('Component cargado correctamente.')
        }
    }
</script>
