<template>
  <div class="content">
    <div class="container-fluid">
      <button class="btn btn-round" data-toggle="modal" data-target="#ClienteModal">
        Nuevo Cliente <i class="material-icons">assignment</i>
      </button>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Clientes</h4>
            </div>
            <div class="card-body">
              <div class="toolbar">
              </div>
              <div class="material-datatables">
                <table class="table table-striped table-no-bordered table-hover datatables" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Documento</th>
                      <th>Dirección</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Documento</th>
                      <th>Dirección</th>
                      <th>Acciones </th>
                    </tr>
                  </tfoot>
                  <tbody v-for="client in list">
                    <tr>
                      <td>{{ client.name }}</td>
                      <td>{{ client.email }}</td>
                      <td>{{ client.document }}</td>
                      <td>{{ client.address }}</td>
                      <td>
                        <!-- update button -->
                        <button title="editar" class="btn btn-link btn-info btn-just-icon like" @click ="Open(client)"><i class="material-icons">edit</i></button>
                        <!-- delete button -->
                         <button title="eliminar" class="btn btn-link btn-danger btn-just-icon remove" 
                         @click ="deleteClient(client.id)"><i class="material-icons">close</i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- modal  -->
        <div class="col-md-12">
          <div class="modal fade" id="clienteModalUpdate" tabindex="-1" role="">
              <div class="modal-dialog modal-login" role="document">
                  <div class="modal-content">
                      <div class="card card-signup card-plain">
                        <form novalidate @submit.prevent="validateBeforeSubmit" >
                          <div class="modal-header">
                              <div class="card-header card-header-rose text-center">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                                  <h4 class="card-title">Datos de Cliente</h4>
                              </div>
                          </div>
                          <div class="modal-body">
                            <p class="description text-center">Informacion cliente</p>
                              <div class="card-body">
                                  <!-- UserName Update -->
                                  <div class="form-group bmd-form-group">
                                     <div class="input-group">
                                          <label> Nombre </label>
                                      </div>
                                      <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">face</i>
                                          </span>
                                        </div>
                                        <input type="text" name="name" v-model="data.name" class="form-control" placeholder="Nombre ..">
                                      </div>
                                  </div>
                                  <!-- document -->
                                  <div class="form-group bmd-form-group">
                                     <div class="input-group">
                                          <label> Documento </label>
                                      </div>
                                      <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">assignment_ind</i>
                                          </span>
                                        </div>
                                        <input type="number" name="name" v-model.number="data.document"  class="form-control" placeholder="Documento ..">
                                      </div>
                                  </div>
                                  <!-- email  -->
                                  <div class="form-group bmd-form-group">
                                     <div class="input-group">
                                          <label>Correo.</label>
                                      </div>
                                      <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">email</i>
                                          </span>
                                        </div>
                                        <input type="text" name="email" v-model="data.email" class="form-control" placeholder="Correo...">
                                      </div>
                                  </div>
                                 <!-- address -->
                                 <div class="form-group bmd-form-group">
                                   <div class="input-group">
                                      <label>Dirección.</label>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons">location_on</i>
                                          </span>
                                        </div>
                                        <input type="text" name="address" v-model="data.address" class="form-control" placeholder="Dirección...">
                                    </div>
                                </div>
                               <!-- end address  -->
                              </div>
                          </div>
                          <div class="modal-footer justify-content-center">
                              <div class="row">
                                 <div class="col-md-6">
                                   <button type="submit" class="btn btn-rose btn-link btn-wd btn-lg"> Guardar </button>
                                 </div>
                                 <div class="col-md-6">
                                   <button class="btn btn-rose btn-link btn-wd btn-lg" data-dismiss="modal" aria-hidden="true">cerrar</button>
                                 </div>     
                              </div>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <!-- end modal  -->
      </div>
    </div>
  </div>
</template>
<script>
    export default {
        data() {
            return {
               data: { name: '', email: '', document:'' , address:'', id : ''},
               list : '' 
            }
        },
        methods:{
            Open(item){
              console.log(item.address);
              $('#clienteModalUpdate').modal('show')
              this.data.name = item.name
              this.data.email = item.email
              this.data.document = item.document  
              this.data.address = item.address  
              this.data.id = item.id
            },
            validateBeforeSubmit() {
                if(this.data.name === '' || this.data.email === '' || 
                   this.data.document === '' ||  this.data.address === '' ) {
                    $.notify({
                        icon: "add_alert",
                        message: "Error ! <b>Completar todos los campos antes de guardar</b>"
                    }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                      }
                  });
                }else{
                  this.update();
                }
            },
            update(){ 
              axios.put('/clientes/'+this.data.id, this.data)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Cliente actualizado</b>"
                        }, {
                            type: 'success',
                            timer: 2000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        $('#clienteModalUpdate').modal('hide')
                        setTimeout(function(){
                            window.location.reload(1);
                        }, 3000);
                        this.clear();
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo actualizar el cliente </b>"
                      }, {
                        type: 'danger',
                        timer: 4000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }else if (response.data == 1) {
                       $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> Cliente no encontrado </b>"
                      }, {
                        type: 'danger',
                        timer: 2000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                }).catch(err =>{
                    console.log(err);
                });
            },
            deleteClient(key){
              var data = { id : key }
              axios.delete('/clientes/'+ key, data)
                    .then((response) =>{
                    if (response.data == 200) {
                        $.notify({
                            icon: "add_alert",
                            message: "Exito ! <b>Cliente Eliminado</b>"
                        }, {
                            type: 'success',
                            timer: 2000,
                            placement: {
                              from: 'top',
                              align: 'right'
                            }
                        });
                        $('#modalUpdate').modal('hide')
                         setTimeout(function(){
                            window.location.reload(1);
                        }, 3000);
                        this.clear();
                    }else if (response.data == 500){
                      $.notify({
                        icon: "add_alert",
                        message: "Error ! <b> No se pudo eliminar el cliente </b>"
                      }, {
                        type: 'danger',
                        timer: 2000,
                        placement: {
                          from: 'top',
                          align: 'right'
                        }
                      });
                    }
                    setTimeout(function(){
                      window.location.reload(1);
                    }, 3000);
                }).catch(err =>{
                    console.log(err);
                }); 
            },
            clients(){
              axios.get('/clientes/list')
                .then((response) =>{
                  if (response.data.status == 200) {
                      this.list = response.data.clients;
                  }
                }).catch(err =>{
                    console.log(err);
                }); 
            }
        },
        mounted() {
            this.clients();
            console.log('Component cargado correctamente 11.')
        }
    }
</script>
