<template>
<div class="content">
  <div class="content">
    <div class="container-fluid">
        <h3>Dashboard</h3>
        <br>
        <img class="img" width="90%" :src="'../img/logos/logo.png'" >
    </div>
  </div>
</div>        

</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>