<template>
<div class="content">
  <div class="content">
    <div class="container-fluid">
      <h3>Menú</h3>
      <br>
      <!--  seeccion  -->
      <div class="row">
        <!-- Tarjetas -->
        <!-- users card -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <a class="text-white" href="/usuarios">
                <div class="card-icon">
                  <i class="material-icons">content_paste</i>
                </div>
                <p class="card-category">Usarios</p>
                <h3 class="card-title"></h3>
              </a>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">local_offer</i> Modulo de Usuarios
              </div>
            </div>
          </div>
        </div>
        <!-- roles card -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
              <a class="text-white" href="/roles">
                <div class="card-icon">
                  <i class="material-icons">people</i>
                </div>
                <p class="card-category">Roles</p>
                <h3 class="card-title"></h3>
              </a>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">local_offer</i> Modulo de Roles
              </div>
            </div>
          </div>
        </div>
        <!-- permissions card -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <a class="text-white" href="/permisos">
                <div class="card-icon">
                  <i class="material-icons">no_accounts</i>
                </div>
                <p class="card-category">Permisos</p>
                <h3 class="card-title"></h3>
              </a>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Modulo de Permisos
              </div>
            </div>
          </div>
        </div>
        <!--  end Tarjetas -->
      </div>
      <!-- end seeccion   -->
    </div>
  </div>
</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component cargado correctamente')
        }
    }
</script>
